/*==========RESET==========*/

* {margin: 0; padding: 0; font-size: 100%; border: none; outline: none; font-weight: 300; box-sizing: border-box; font-family: times new roman, sans-serif;
}

body {background-color: #f5f5f5;}

a {text-decoration: none;}

ul {list-style: none;}

img {max-width: 100%;}

/*==========COMBO BOTÕES==========*/
.btn {width: 100%; font-size: 1.5em; text-align: center; cursor: pointer; padding: 5%; margin-top: 5px;}

/*==========COMBO RADIUS==========*/
.combo_radius {border-radius: 7px;}

/*==========ANIMAÇÃO==========*/

.newsletter button {animation: cores 2s infinite;}
@-webkit-keyframes cores {
    from {background-color: blueviolet;}
    to{background-color: greenyellow;}
}

/*==========CABECALHO==========*/

.cabecalho {width: 100%; float: left; padding: 3% 4%; background: linear-gradient(to right,#ce2e3c,#0080ff,#fff); margin-bottom: 50px; position: absolute;}

.logo {width: 50px; height: 50px; float: left; background: url(img/imagem1.png) center center/50px no-repeat; font-size: 0;}

#check {display: none;}

#icone_menu {float: right; padding: 15px; z-index: 1;}

#img-menu { width: 50px; height: 50px; float: right; margin-left: 90%; margin-top: 10px; position: absolute;}
/*.btn-menu {width: 50px; height: 50px; float: right; text-align: center; font-size: 2em; font-weight: 900; color: #fff; border-radius: 50px; cursor: pointer; background: linear-gradient(to right,#ce2e3c,#da6709); margin-right: 15px;}
*/
/*==========MENU==========*/

.barra {width: 300px; height: 500px;background-color: rgba(16,16,16,.5); transition: all .2s linear; float: right; margin-right: -100px; margin-top: 90px;}

nav {width: 100%;}

nav a {text-decoration: none; display: block; margin-top:  2px;}

.link {background-color: #494950; margin-bottom: 5px; transition: all .2s linear; border-bottom: 2px solid #222; color: #f4f4f9;}
.link:hover {background-color: #050542;}

.link {padding: 20px; transition: all .2s linear; border-bottom: 2px solid #222; border-color: #fff; list-style-type: none;}

/*EVENTOS DO MENU*/
#check:checked ~ .barra{transform: translateX(300px);}

#check:checked ~ .barra nav a .link{opacity: 1;
transition-delay: 2s;}

/*===========CORPO===========*/

.corpo {position: relative;}
/*==========BANNER==========*/

.banner {width: 92%; margin-left: 15px; float: left; text-align: center; padding: 3% 4%; background-color: #3159ff; border-radius: 7px; margin-top: 160px;}

.banner h2 {font-size: 2.5em; color: #fff; font-weight: 700;}
.banner h3 {font-size: 1.5em; color: #fff; font-weight: 700; margin-top: 2%;}

/*==========BOTÕES==========*/

.btn-cadastrar { background-color: #fff; color: #130400;}

.btn-sobre {background-color: #130400; color: #fff;}

/*==========SERVIÇOS==========*/

.servicos {width: 100%; float: left; padding: 3% 4%;}

.servico {width: 100%; background-color: rgba(0,0,0,.1); text-align: left; border-radius: 7px; margin-bottom: 3%;}

.servico img {border-radius: 7px 7px 0 0;}

.inner {padding: 7%;}

.inner a {font-size: 1.5em; color: #3159ff; font-weight: 700;}

.inner h4 {font-size: 1.2; color: #130400; margin-top: 2%;}

.inner p {margin-top: 6%; color: #130400; line-height: 1.5em;}

/*==========NEWSLETTER==========*/

.newsletter {width: 100%; float: left; text-align: center; padding: 3% 4%; background-color: #130400; border-radius: 7px;}

.newsletter h2 {font-size: 1.5em; color: #fff; font-weight: 700;}

.newsletter h3 {color: #fff;}

.newsletter form {margin-top: 2%;}

.newsletter input {width: 100%; background-color: #130400; color: #fff; border: 1px solid rgba(255,255,255,0.3); padding: 5%; border-radius: 7px;}

.newsletter button {width: 100%; background-color: #fff; color: #130400; padding: 5%; border-radius: 7px; cursor: pointer; margin-top: 2%; font-size: 2em; font-weight: 900;}

/*==========RODAPÉ==========*/

.rodape {width: 100%; float: left; padding: 3% 4%; text-align: center; background: linear-gradient(to right,#ce2e3c,#0080ff,#fff);}

.redes-sociais a {font-size: 1.5em; color: rgba(255,255,255,0.5);}

.redes-sociais a:hover {color: rgb(255,255,255);}

/*TIPOS DE MEDIA
screen = Para monitores ou dispositivos com telas coloridas e resolução adequada.

print = Para impressoras - muito usado para dar visão de impressão do site.
*/

/*==========MOBILE FIRST==========*/

/*==========SMARTPHONES até 400px==========*/

@media screen and (max-width: 400px) {
    .logo {float: left; margin-left: 10px;}
    .banner {max-width: 92%; float: left; margin-top: 100px;}
    .servicos {max-width: 100%; float: left;}
    .newsletter {max-width: 92%; float: left; margin-left: 15px; margin-bottom: 10px;}
    .newsletter button {float: left; margin-left: 0px;}

}
/*==========SMARTPHONES 480==========*/

@media screen and (min-width: 400px) {
    .logo {width: 150px; height: 50px; margin-left: 20px; background: url(img/logo480.png) center/150px no-repeat;}

    .banner {margin-left: 20px;}
}

/*==========TABLETS 768==========*/

@media screen and (min-width: 768px) {

    .logo {margin-left: -10px;}

    .banner {width: 100%; margin-left: 40px;}

    .servico {width: 49%; float: left; margin-right: 2%; height: 550px}

    .servico:nth-child(2) {margin-right: 0;}

    .btn {padding: 1em;}

    .newsletter input {width: 70%; padding: 2%; float: left; margin-right: 1%;}

    .newsletter button {width: 29%; padding: 2%; float: right; margin-top: 0; height: 60px; text-align:center;}
}

/*==========TABLET E DESKTOP 960==========*/

@media screen and (min-width: 960px) {
    .titulo {width: 60%; float: left; text-align: left;}

    .titulo h2 {font-size: 3em;}

    .titulo h3 {font-size: 2em;}

    .botoes {width: 30%; float: right; margin-right: 2%;}

    .servicos {width: 100%; margin-left: 10px}

    .newsletter button {width: 29%; padding: 0%; float: right; margin-top: 0; height: 70px; text-align:center;}

    .banner {float: left; margin-left: 10px;}

    .servico {width: 32%; height: 550px;}
    .servico:nth-child(2) {margin-right: 2%;}
    .servico:nth-child(3) {margin-right: 0;}
    .servico img {width: 98%; height: 35%; margin-left: 1%; margin-top: 1%;}

    .inner p {text-align: justify;}

    .newsletter {width: 92%; margin-left: 50px; margin-bottom: 1em; margin-top: -20px; border-radius: 7px;}

    .logo {width: 300px; height: 70px; background: url(img/logo480.png) center center/200px no-repeat;}

    .banner {width: 91%; margin-left: 55px;}
}

/*==========TABLET E DESKTOP 1400==========*/

@media screen and (min-width: 800px) {
    .banner {width: 90%; float: left; margin-left: 50px;}
    .servicos {float: left; margin-left: 50px;}
    .servico {height: 550px;}
    .newsletter button {width: 28%; padding: 0%; float: right; margin-top: 0; height: 70px; text-align:center;}
    .newsletter input {width: 70%; padding: 0%; float: left; margin-top: 0; height: 70px; text-align:center; font-size: 14pt;}
}


/*==========TABLET E DESKTOP 1400==========*/

@media screen and (min-width: 1400px) {
    .banner {float: left; margin-left: 50px;}
    .servicos {float: left; margin-left: 50px;}
    .servico {height: 550px;}
    .newsletter button {width: 28%; padding: 0%; float: right; margin-top: 0; height: 70px; text-align:center;}
    .newsletter input {width: 70%; padding: 0%; float: left; margin-top: 0; height: 70px; text-align:center; font-size: 14pt;}
}

/*===========ESTILO DA PAGINA DE MENSAGEM============*/

sup {color: #ff0000; font-size: 14pt;}
.campo-texto{max-width: 500%; margin: auto; border: 2px solid #606060;}
fieldset {background: rgba(0,255,255,0.5); border: outset; #606060; margin: 20px 10px 10px 10px}
legend {font-weight: 700; font-size: 14pt;}
button {margin-left: 10px; font-family: fantasy; border:  outset; color: #606060;}
textarea {padding: 5px; margin: auto; width: 100%; height: 100px;}

.contagem {color: #ff0000; font-weight: 700; font-size: .8em; display:flex;}
#idContagem {font-weight: 700;}
